<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error</title>
    <style>
.wrapper{
   position: absolute;
   width:100vw;
   height:100vh;
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;

}
.play{

    width:100vw;
    height:100vh;
    background: url('https://i.redd.it/l051i0y03e761.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
    </style>
</head>
<body>
    <div c;ass='wrapper'>
    <div class="play"></div>
 </div>
</body>
</html>