<!DOCTYPE html>
<html lang="en">
<head>
   {{>head}}
    
</head>
<body>
   <div class="wrapper">
     {{>navbar}}
       <div class="images">
           <figure>
              <div class="overlay"></div>
        <img class="changer1" src="rohit.jpeg" width="400px" height="600px">
    </figure>

    </div>
    <div class="upper">
       <div class="section">
           <div class="text">
               <h4>Welcome To weather world</h4>
               <h2>I am a <span>Mern stack developer.</span></h2>
              <a href="https://www.linkedin.com/in/rht-singh-922988206"> <button>About Me</button></a>
            </div>
        </div>
       </div>
       {{>footer}}
   </div>
</body>
<script src="./js/main.js"></script>
</html>