<!DOCTYPE html>
<html lang="en">
<head>
  {{>head}}
    <meta http-equiv="refresh" content="5">
</head>
<body>
   <div class="wrapper">
      {{>navbar}}
       <div class="section">
           <div class="text">
               <h4>Welcome To weather app</h4>
               <h2>get the latest <span>weather</span> info of your city</h2>
              <a href="/weather"><button id="btn1">Check now</button></a> 
            </div>
            <div class="images">
                <img class="changer" src="https://www.siliconera.com/wp-content/uploads/2021/02/Crayon-Shin-chan-fishing-in-Ora-to-Hakase-no-Natsu-Yasumi.jpg" width="400px" height="600px">
                

            </div>
       </div>
       <div class="footer">
           <p>&copy; Rohit weather app</p>
       </div>
   </div>
</body>
<script src="./js/main.js"></script>
</html>